.intetdesign {
  position: absolute;
  left: 0px;
}
.gyldnespiral {
  width: 73vw;
  height: 45.11659vw;
  border: 0.5px solid #4A4949;
  display: grid;
  grid-template-columns: 61.80% 9.02% 5.57% 23.61%;
  grid-template-rows: 61.80% 9.02% 5.57% 23.61%;
  grid-template-areas: "A B B B" "A E E C" "A E E C" "A D D C";
  margin: auto;
}

.gyldensnit {
  width: 60vw;
  margin: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf9f9;
  height: 100%;
  width: 100%;
  color: #8d6565;
  box-sizing: border-box;
  border: 0.5px solid #4A4949;
}
.item.a {
  grid-area: A;
}
.item.b {
  grid-area: B;
}
.item.c {
  grid-area: C;
}
.item.d {
  grid-area: D;
}
.item.e {
  grid-area: E;
}
img {
  max-width: 95%;
  max-height: 95%;
}

.scrollbox {
  max-height:100px;
  width:100%;
  border:1px solid #ccc;
  overflow:auto;
}